.cuadroprincipal{
    display: flex;
    background-color: white;
    border: 5px solid black;
    justify-content: center;
}
.colm11{
    margin-left: 15px;

}
#fotomia{
    border-radius: 50%;
    border:5px solid black;
    margin-left: 35px;
}
.colm12{
    background-color: white;
    margin: 5px;
    border: 5px solid black;
    padding: 25px;
}
.colm13{
    background-color: white;
    margin: 5px;
    border: 5px solid black;
    padding: 25px;
}
.colm21{
    background-color: white;
    margin: 5px;
    border: 5px solid black;
    padding: 25px
}
.colm22{
    background-color: white;
    margin: 5px;
    border: 5px solid black;
    padding: 25px;
    height: 610px;
}
.colm31{
    background-color: white;
    margin: 5px;
    border: 5px solid black;
    padding: 25px;
    height: 981px;
}
.body{
    display: flex;
}
#fotodip1{
    height: 120px;
    width: 120px;
}
#fotodip2{
    height: 120px;
    width: 120px;
}
#fotodip3{
    height: 120px;
    width: 120px;
}
#fotodip4{
    height: 120px;
    width: 120px;
}
.columna{
    border:5px solid rgb(2, 2, 2);
}
.cuadroprincipal{
    border: 5px solid rgb(16, 16, 16);
    margin: 50px 365px 50px 50px;
}
