.cuadroprincipal{
    display: flex;
    background-color: white;
    border: 5px solid black;
}
.colm11{
    margin-left: 15px;

}
#fotomia{
    border-radius: 50%;
    margin-left: 15px;
}
.colm12{
    background-color: white;
    margin: 5px;
    border: 5px solid black;
    padding: 25px;
}
.colm13{
    background-color: white;
    margin: 5px;
    border: 5px solid black;
    padding: 25px;
}
.colm21{
    background-color: white;
    margin: 5px;
    border: 5px solid black;
    padding: 25px
}
.colm22{
    background-color: white;
    margin: 5px;
    border: 5px solid black;
    padding: 25px;
    height: 610px;
}
.colm31{
    background-color: white;
    margin: 5px;
    border: 5px solid black;
    padding: 25px;
    height: 981px;
}
.body{
    display: flex;
}
#fotodip1{
    height: 120px;
    width: 120px;
}
#fotodip2{
    height: 120px;
    width: 120px;
}
#fotodip3{
    height: 120px;
    width: 120px;
}
#fotodip4{
    height: 120px;
    width: 120px;
}