*{
}
.cuerpo{
    margin-right: 50vw;
    background-color: white;
}
.img{
    height: auto;
    max-width: 100%;
    vertical-align: top;
    max-height: 100vw;

}
.cuadro11{
    min-height: 1vw;
    padding-left: 1vw;
    padding-right: 1vw;
    height: 100%;
    max-height: 100vw;
    grid-area: cuadro11;
}
.img11{
    border-radius: 1vw;
    width: 45vw;
    height: 30vw;
    
}
.cuadro12{
    min-height: 1vw;
    padding-left: 1vw;
    padding-right: 1vw;
    height: 100%;
    max-height: 100vw;
    grid-area: cuadro12;
}
.img12{
    border-radius: 6.5%;
    width: 45vw;
    height: 32vw;

}
.cuadro13{
    grid-column: 1/2;
    grid-row: 2/2;
    min-height: 1vw;
    padding-left: 1vw;
    padding-right: 1vw;
    height: 100%;
    max-height: 100vw;
    grid-area: cuadro13;
}
.img13{
    height: 100%;
    border-radius: 1vw;
    min-width: 8vw;
    width: 45vw;
    max-height:62vw ;
 
   
}
.cuadro14{
    grid-column: 1/2;
    grid-row: 2/3;
    grid-area:cuadro14;
}
.img14{
    width: 100%;
    height: 52vw;
    border-radius: 2.5vw;
    min-width: 50vw;
    max-width: 100vw;
    max-height:53vw ;
}



@media (min-width:1vw){
    .cuadro1{
        grid-template:
        "cuadro11 cuadro13" 0vw
        "cuadro12 cuadro13" 0vw
        "cuadro14 cuadro14" 0vw /
        9% auto ;
    }
}
.cuadro1{
    
    margin: auto;
    justify-content: center;
    display: grid;
    grid-template:
    'cuadro11 cuadro13'
    'cuadro12 cuadro13'
    'cuadro14 cuadro14'
    ;
    grid-gap: 1vw ;
    background-color: #000000;
    padding: 3%;
    column-gap: 1vw;
    row-gap: 1vw;
    width: 94vw;
    border-radius: 1vw;
}
*/
.grid-cuadro1 > div {
    background-color: rgba(245, 243, 243, 0.8);
    text-align: center;
    padding: 1vw 0;
    font-size: 0vw;
}
@media (min-width:1vw){
    .cuadro2{
        grid-template:
        "cuadro21 cuadro23" 0vw
        "cuadro22 cuadro23" 0vw /
        9% auto ;
    }
}
.cuadro2{
    
    margin: auto;
    justify-content: center;
    display: grid;
    grid-template:
    'cuadro21 cuadro23'
    'cuadro22 cuadro23'
    ;
    grid-gap: 1vw ;
    background-color: #000000;
    padding: 3%;
    column-gap: 1vw;
    row-gap: 1vw;
    width: 94vw;
    border-radius: 1vw;
}
.cuadro21{
    min-height: 1vw;
    padding-left: 1vw;
    padding-right: 1vw;
    height: 100%;
    max-height: 100vw;
    grid-area: cuadro21;
}
.img21{
    border-radius: 1vw;
    width: 45vw;
    height: 30vw;
    
}
.cuadro22{
    min-height: 1vw;
    padding-left: 1vw;
    padding-right: 1vw;
    height: 100%;
    max-height: 100vw;
    grid-area: cuadro22;
}
.img22{
    border-radius: 2.7vw;
    width: 45vw;
    height: 32vw;

}
.cuadro23{
    grid-column: 1/2;
    grid-row: 2/2;
    min-height: 1vw;
    padding-left: 1vw;
    padding-right: 1vw;
    height: 100%;
    max-height: 100vw;
    grid-area: cuadro23;
}
.img23{
    height: 100%;
    border-radius: 1vw;
    min-width: 8vw;
    width: 45vw;
    max-height:62vw ;
 
   
}
.cuadro2 > div{
    display: grid;
    justify-content: center;
    align-items: center;
}

iframe, img {
    width: 100%;
    height: 100%;
    border-radius: 1vw;
}

