.cuadroprincipal{
    display: flex;
    background-color: white;
    border: 5px solid black;
    justify-content: center;
}
#fotomia{
    border-radius: 50%;
    border:5px solid black;
    margin-left: 35px;
}
.body{
    display: flex;
}
#fotodip1{
    height: 120px;
    width: 120px;
}
#fotodip2{
    height: 120px;
    width: 120px;
}
#fotodip3{
    height: 120px;
    width: 120px;
}
#fotodip4{
    height: 120px;
    width: 120px;
}
.columna{
    border:5px solid rgb(2, 2, 2);
}
.cuadroprincipal{
    border: 5px solid rgb(16, 16, 16);
    margin: 50px 365px 50px 50px;
}
